* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  z-index: 1;
  line-height: 1.4em;
}
h1 {
  white-space: pre-wrap;
}
.headerContainer {
  min-height: 100vh;
  height: fit-content;
}
.timg {
  opacity: 0;
}
.img {
  background-image: url("/src/imgs/IMG_9780.jfif");
  background-size: cover;
  background-position-x: center;
  position: absolute;
  z-index: -2;
  min-height: 100vh;
  min-height: inherit;
}
.img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000000, #000000);
  opacity: 0.6;
  z-index: -1;
}

.logo {
  min-width: 80px;
  width: 80px;
}
.menuContainer {
  display: flex;
}

.topBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  padding: 1vw 7vw;
  width: 100%;
  color: white;
  gap: 2rem;
}

button {
  background-color: #0d0;
  color: white;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 3px 20px;
  line-height: 2em;
  white-space: nowrap;
  cursor: pointer;
}
.menuItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.2rem 2rem;
}
.menuItems {
  display: flex;
  gap: 1.2rem;
}
.menuItem {
  backface-visibility: hidden;
  padding: 0.1em 0;
  white-space: nowrap;
  font-style: normal;
  text-transform: none;
  font-size: calc((1.05 - 1) * 1.2vw + 1rem);
  cursor: pointer;
}
.burger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  transform: rotate(90deg);
  font-weight: 300;
}
.contentContanier {
  max-width: 50vw;
  padding: 2rem 0rem;
}
.headerContent {
  padding: 7vw;
  color: white;
}
.hContanier {
  padding: 3vw 0px;
  font-size: 1.4em;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (max-width: 800px) {
  .topBarContainer {
    padding: 6vw;
  }
  .logo {
    min-width: 60px;
    width: 60px;
    padding-top: 0.6rem;
  }
  .burger {
    display: block;
  }
  .menuItemsContainer {
    display: none;
  }
  .contentContanier {
    max-width: 80vw;
  }
}

.pagebody {
  padding: 0rem 6vw;
}
/* info styles */

.infoSection {
  padding: 1rem;
  color: #000;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 6vw 0rem;
}
.infoCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  width: 14rem;
}
.infoCardHead {
  color: #0d0;
  font-size: calc((1.3 - 1) * 1.2vw + 2rem);
}

.infoCardText div {
  font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}

/* partnerSection */
.partnerSection {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.partnerSection div {
  flex: 1 1 22rem;
}
.partnerContent {
  padding: 2rem 0rem;
}
.partnerHeader {
  font-size: 1.2em;
}
.green {
  color: #0d0;
}

.partnerPargraph {
  padding: 2rem 5vw;
  padding-left: 2vw;
  font-size: 1.4rem;
}
.pp {
  padding: 0rem 5vw;
  cursor: pointer;
}

/* Programs Section */
.programSection {
  background-color: #0d0;
  width: 100%;
  text-align: center;
  padding: 3rem;
  color: white;
}
.normal {
  font-weight: 300;
}

/* recruitment Section */
.recruitmentSection {
  padding: 3rem;
}
.recruitmentParagraph1 {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1.6rem;
  max-width: 28rem;
  margin: 0 auto;
}

.recruitmentParagraph2 {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 1.6rem;
  max-width: 35rem;
  margin: 0 auto;
}

.qoute {
  max-width: 28rem;
  margin: 0 auto;
}
